/***** Body *******/
@font-face {  
  font-family: "bitch"; 
  src: url('watchword/Watchword_thin_demo.otf'); 
}

@font-face {  
  font-family: "bitch_biss"; 
  src: url('watchword/Watchword_regular_demo.otf'); 
}

@font-face {  
  font-family: "bitch_one"; 
  src: url('raleway/Raleway-Thin.ttf'); 
}


body {
    background: #fff;
    font-family: bitch , quicksand , Ubuntu, Roboto, sans-serif !important;
}
a {
    cursor: pointer;
}
h4{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#preloader{
    font-family: bitch_one;
    background-color: #131229;
    color: #fff;
}
/*****************/

/*****Menu********/
.navigation_desktop ul li a:not(.mdl-menu_a){
    letter-spacing: 1px !important;
}
.container {
    width: 941px;
}

.menu_bar .navigation_desktop ul {
    margin: 16px 20px 0px 0px;
}

#topBarMain{
    margin: 6px 50px 0px 0px;
}

#speakersIP ul {
    font-family: bitch;
    color: #f0f0df;
    padding: 0px 10px;
    line-height: 15px;
}

#ulWS{
    margin-top: 4px;
}

.logo{
    height: 90%;
    width: 90%;
    padding-top: 7%;
}

.textArea{
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 8px;
}

.textArea textarea{
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.inDiv{
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px; 
}

#signup_submit{
    margin-top: 30px;
}

#signIP{
    font-family: bitch_one;
    color: #f0f0df;
}

#descrIP{
    padding-top: 20px;
}
#descrIP p{
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 0px 2px 20px;
    font-family: bitch_one;
    color: #f0f0df;
    line-height: 1rem;
    margin-bottom: 0rem;
}

#descrIP p span{
    font-size: 25px;
    letter-spacing: 8px;
    font-weight: 600;
}
/****************/

/***** Sections ****/
#iphome{
    padding-bottom: 15rem;
}

#history{
    padding-bottom: 5rem;
}
.success_inner{
    background: #d9d9d9;
    border: 0px;
    font-family: bitch;
    color: #f0f0df ;
}
.success_inner h2{
    font-family: bitch;
    color: #f0f0df;
    text-shadow: 0px;
}

#overly{
    display:block;
}

.msg p {
    font-family: bitch_one;
    color: #f0f0df;
    text-shadow: none;
}
.msg_inner{
    text-shadow: none;
}


.text_desc{
    color: #05040b;
    text-align: justify;
    word-spacing: 0px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: bitch_one;
}
.text_desco{
    color: #05040b;
    text-align: center;
    word-spacing: 0px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: bitch_one;

}

.section_titles{ /* -50px */
    color: #ffe557;
    font-family: bitch;
    font-weight: 200;
    font-size: 27px;
    letter-spacing: 10px;
}

#heightEd{
    color: #ffe557;
}
.vign{
    width: 250px;
    height: 250px;
    max-width: 500px;
    max-height: 500px;
    padding: 0px;
}

.vign img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.vignBig{
    width: 500px;
    height: 250px;
    padding: 0px;
}

.vignBig img{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 500px;
}

.vignReg{
    width: 750px;
    height: 500px;
    padding: 0px;
}

#wwIP{
    background: #f4f8f7;
    opacity:0.1;
    font-family: bitch;
    color: #f0f0df;
    font-weight: 200px;
}
 
#wwIP p{
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
}

#nmIP{
    margin-top: 10px;
}
#fnmIP{
    margin-top: 10px;
}
#emIP{
    margin-top: 10px;
}

#wwIP p span{
    font-weight: 700;
}

.zebi{
    font-weight: bold;
}

#countDown{
    font-family: bitch;
    padding-left:20px;
    color: #f1f1f1;
    z-index: -1;
    position: relative;
    margin-bottom:  50px;
    margin-top: 0px;
}
/*#countDown{
    font-family: bitch;
    background-color: #f4f8f7;
    color: #0e1f34;
    position: absolute;
}
#countDown div{
    margin:23px 0px;
}*/
.countTime { 
    
    font-size: 30px;
}

/*.countWord{
    margin-top: 9px;
    position: absolute;
    left: 40%;
    color: #288C86;
    padding: 0px 0px;
    text-transform: uppercase;
    text-align: left;
    line-height: 50px;
    font-size: 25px;
}*/


#greatDebat p{
    color: #616262;
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    font-family: bitch;
}

#greatDebat p span{
    color: #616262;
    font-family: bitch_biss;
}


.savp{
    font-family: bitch_one;
    position: absolute;
    top: 60%;
    cursor: pointer;
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
}

#downSpIP{
    color : #e82b1f ;
    line-height: 18px;    
}

#downPsIP{
    color : #e82b1f ;
    line-height: 18px;    
}

#ipDesc{
    width: 500px;
    height: 250px;
    padding: 0px;
    display: none;
    background: #f4f8f7;
    opacity:0.1;
    padding: 0px;
}

#ipDesc p{
    font-size: 15px;
    font-weight: 500;
    font-family: bitch_one;
    line-height: 25px;
    padding: 22px 10px 22px 10px;
    text-align: justify;
}

#turn{
    display: none;
}



#goWSTit{
    color: #288C86;
    font-size: 37px;
    margin-top: 0rem;
}
#ggWS{
    color: #288C86;
    font-size: 37px;
    margin-top: 0rem;
}
#plus6{
    color: #e82b1f;
    font-size: 15px;
}

#dayIP p{
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
}

#dayIP p span{
    font-weight: 700;
}

#descIPDay{
    background: #f4f8f7;
    opacity:0.1;
}

#workIP{
    padding: 25px 20px;
    text-align: left;
    font-size: 15px;
}

#wsIP h4{
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    color: #f7b12c ;
    font-family: bitch_biss;
}

#whySpIP h4{
    padding: 20px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 30px;
    color: #F8AE28 ;
    font-family: bitch_biss;
}

#beSpnIP h4{
    padding: 20px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 30px;
    color: #616262 ;
    font-family: bitch_biss;
}

#bePrsIP h4{
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    color: #616262 ;
    font-family: bitch_biss;
}

#talksIP h4{
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    color: #288C86 ;
    font-family: bitch_biss;
}

#wsIPBiss ul a{
    text-align: left;
    font-size: 20px;
    line-height: 2px;
    color:  #616262;
    font-family: bitch_biss;
}

#wsIPBiss ul a li{
    padding: 20px 0px 0px 20px;
    color: #888989;
}

#wsIPBISS ul a li span{
    font-weight: 700;
}  

#speakersIP{
    background: #f4f8f7;
    opacity:0.1;
}
#speakersIP ul a {
    font-size: 21px;
    color: #888989;
    text-align: left;
    letter-spacing: 1px;
}

#speakersIP ul li {
    padding: 11px 0px 11px 20px;
}


#speakersIP ul a li span{
    text-transform: uppercase;
    font-family: bitch_biss;
    font-weight: 500;
}  

.speakersDesc h4{
    padding: 15px 5px 5px 20px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    color: #288C86;
    font-family: bitch;
    line-height: 25px;
}

.speakersDesc p{
    text-align: justify;
    padding: 0px 20px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 24px;
    font-family: bitch_one;
}  

.workshopsDesc h4{
    padding: 20px 0px 3px 20px;
    text-align: left;
    font-size: 25px;
    color: #288C86 ;
    font-family: bitch;
    text-transform: uppercase;
}

.workshopsDesc p{
    word-spacing: 1px;
    font-family: bitch_one;
    padding: 0px 20px;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 20px;

}  

.wsBold{
    color: #288C86 ;
    font-family: bitch_biss;
}

.wsSign{
    color: #F5AF2B;
    font-size: 14px;
    padding: 25px 10px;
}

.input-field label {
    top: 1.5rem;
    color: #616262;
}

#aboutSpIP p{
    color: #616262;
    font-family: bitch_one;
    line-height: 25px;
    padding: 25px 10px 25px 10px;
    text-align: justify;
}


#signWs{
    color: #616262;
    font-family: bitch_one; 
}
#signWs .input-field{
    margin: 0px;
    margin-top: 7px;
}

#signWs #signup_submit{
    margin-top: 7px;
}

.switch-label {
    color: #288C86;;
    font-size: 1rem;
    top: 0px;
}

.msg_inner {
    font-family: bitch;
    border-radius: 0px;
    padding: 60px;
}
#whereFrom{
    margin-bottom: 0px;
}
#agenda{
    padding-bottom: 5rem;
}

#osLogo{
    padding-top: 0rem;
    height:370px;
}

#ipBG p{
    color: #2980b9;
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    font-family: bitch;
}

#ipBG p span{
    color: #2980b9;
    font-family: bitch_biss;
}


#descIPBG{
    width: 66.66666%;
    height: 250px;
    padding: 0px;
    display: none;
    background: #f4f8f7;
    opacity:0.1;
    padding: 0px;
}

#descIPBG p{
    font-size: 15px;
    font-weight: 500;
    font-family: bitch_one;
    line-height: 25px;
    padding: 22px 10px 22px 10px;
    text-align: justify;
}
#nospIP{
    background: #f4f8f7;
    opacity:0.1;
}
#speakIP{
    background: #f4f8f7;
    opacity:0.1;
}
#bgEmpIP{
    background: #f4f8f7;
    opacity:0.1;
}
#plus3b{
    margin : 0px;
    padding: 0px 20px;
    top: 85%;
}
/*******************/
.ip_home_content {
    padding-top:1rem;
    padding-bottom:1.5rem;
}

.ip_main{
    padding-top: 1rem;
}

.supD{
    font-size: 15px;
    top : -2.5rem !important;
}

#signDiv{
    padding-bottom: 2rem;
}

.mdl-color--primary {
    background-color: #288C86 !important;
}




/****** Organizers *******/
.vignOrg{
    width: 187px;
    height: 187px;
    max-width: 500px;
    max-height: 500px;
    padding: 0px;
    cursor: pointer;
}


#organiz{
    padding-bottom: 5rem;
}

.titles_form1{
    color: #1A3134;
}

.divMem{
    background: #f4f8f7;
    opacity:0.1;
    display: none;
}

.nameMem{
    margin-bottom: 0px;
    padding: 25px 5px 0px 5px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    color: #288C86 ;
    font-family: bitch_biss;
}

.nameMem1{
    margin-bottom: 0px;
    padding: 0px 5px 20px 5px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    color: #288C86 ;
    font-family: bitch_biss;
}

.postMem{
    line-height: 12px;
    margin-bottom: 0px;
    padding: 0px 5px;
    font-size: 20px;
    color: #616262 ;
    font-family: bitch_biss;
}

.postMem2{
    line-height: 12px;
    margin-bottom: 0px;
    padding: 0px 5px;
    font-size: 20px;
    color: #616262 ;
    font-family: bitch_biss;
    padding-bottom: 10px; 
}

.equipeMem{
    margin-bottom: 0px;
    padding: 0px 5px;
    font-size: 20px;
    font-weight: 500;
    color: #616262 ;
    font-family: bitch_biss;
}

#krita{
    font-weight: 700;
}

/************************/

/*******Footer********/

#social_links{
    padding: 0px;
    filter: brightness(100%) invert(0.5);
}

#social_links a{
        width: 22px;
    height: 22px;
    margin: 0px 10px;
}

#social_links img{
    width: 100%;
}

#myFoot img{
    padding: 20px 0px;
    width: 5%;
}

#myFoot p{
    color: #F5AF2B ;
    font-family: bitch;
    font-weight: 500;
    font-size:25px;
    letter-spacing: 2px;
}

#ip_soon{
    font-size: 25px;
    font-family: bitch_one ;
}
/***Logo Spons*****/
.spons{
    filter: brightness(100%) invert(0.5);
    transition: opacity 0.2s, filter 0.2s;  
}

.spons:hover{
    transition: opacity 0.2s, filter 0.2s;
    filter: brightness(100%) invert(0);
}

#oin{ width: 85%; padding-top: 5%}
#usthb{ width: 60%; }
#auf{width: 60%;}
#github{width: 100%;}
#eng{width: 50%;padding-top: 2%}
#sacs{width: 100%; padding-top: 10%}
#poste{width: 120px; height: 120px;}

#prgm{
    width: 100%;
}

#kamel{

    width: 80%;
}
.org {
    text-align: center;
    position: relative;
}




/* Slideshow container */


/* Fading animation */
.ba7 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .middle {
  opacity: 0.8;

}

.himage:hover {
    display: block;
    opacity: 0.7;
    position: relative;
    background-image: url(../images/plus.png);
    text-align: center;
}
.kakashi {

  
}

/* zebi */



    #owl-demo .item{
      padding: 0px 0px;
      margin: 10px;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
    }


    /* The Modal (background) */
    .register-button {
  display: block;
  width: 13%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  margin: auto;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #131229;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
    
/* The Modal (background) */








/******************/